div.ui-pnotify.bedready_notice > div.ui-pnotify-container > div.ui-pnotify-icon > span.icon-warning-sign,
div.ui-pnotify.bedready_notice > div.ui-pnotify-container > div.ui-pnotify-icon > span.icon-info-sign
{
    padding-top: 3px;
}

.well-info {
    margin-bottom: 5px;
}

.bedready-crop-container {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

#bedready-crop-canvas {
    cursor: crosshair;
    display: block;
    max-width: 100%;
}
